body{
    font-size: 16px;
    line-height: 1;
font-family: 'Roboto','Noto Sans KR', sans-serif;
}
/* common */
:root{
    --color-white:rgba(255, 255, 255, .8);
    --bg-gray:#161617CC;
    --color-white-hover:#FFFFFF;
}
li{
 list-style: none;
}
a{
    text-decoration: none;
    color:var(--color-white)
}

/* Header */
header{
    background-color: var(--bg-gray);
    
}
header .inner{
    max-width: 1020px;
    margin:0 auto;
}
header  ul.menu{
    display: flex;
    height: 44px;
    justify-content: space-between;
   
}

header ul.menu > li{
    display: flex;
    position: relative;
}

header ul.menu > li > a{
    display: flex;
    align-items: center;
    padding:0 10px;
    font-size :12px;
    transition: color .5s;
}
header ul.menu > li.apple-logo > a,
header ul.menu > li.search-starter > a,
header ul.menu > li.basket-starter > a{
    width: 13px;
    background-repeat:no-repeat;
    /* text-indent: -9999px; */
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-position: center 13px;
}
header ul.menu > li.apple-logo > a{
    background-image: url('./images/header_apple.svg');
}
header ul.menu > li.search-starter > a{
    background-image:url('./images/header_search.svg');
}
header ul.menu > li.basket-starter > a{
    background-image:url('./images/header_bag.svg')
}
header ul.menu > li > a:hover{
    color:var(--color-white-hover);
}
/* Header / Menu / Basket */

header .basket{
    width: 290px;
    padding:10px 20px;
    border: 1px solid #D2D2D2;
    border-radius: 10px;
    box-sizing: border-box;
    background-color:#FFF;
    position: absolute;
    top:calc(100% + 4px);
    right: -6px;
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}
header .basket.open{
  display: block;
  visibility: visible;
  opacity: 1;
}

header .basket .arrow{
    width: 20px;
    height: 10px;
    position: absolute;
    top:-10px;
    right: 12px;
    overflow: hidden;

}
header .basket .arrow::before{
    content:'';
    width: 12px;
    height: 12px;
    border:1px solid #D2D2D2;
    background-color:#FFF;
    transform: rotate(45deg);
    transform-origin: 0 0;
    position: absolute;
    top: 0;
    left: 50%;
}

header .basket .message{
    padding:30px 0;
    font-size: 13px;
    color:#6E6E6E;
    text-align: center;
}
header .basket ul{
    margin-top: 10px;
}
header .basket ul li{
    border-top: 1px solid #D2D2D2;
}
header .basket ul li a{
    display: inline-block;
    padding:14px;
    font-size:13px;
    color:#0071E3;
}
header .basket ul li a:hover{
    text-decoration: underline;
    
}
